<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnScreenKeyboard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <OnScreenKeyboard.My.MySettings>
            <setting name="FN1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN4Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN4Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN5Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN5Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN6Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN6Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN7Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN7Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN8Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN8Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN9Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN9Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN10Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN10Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN11Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN11Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FN12Name" serializeAs="String">
                <value />
            </setting>
            <setting name="FN12Path" serializeAs="String">
                <value />
            </setting>
        </OnScreenKeyboard.My.MySettings>
    </userSettings>
</configuration>
